// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Layout
// -------------------------------------------------------------

.primary,
.secondary,
.tertiary {
  background-color: $gray-100;
  float: left;
  width: 100%;
}

.gradient {
  float: left;
  width: 100%;
}

.page {
  float: left;
  width: 100%;
}

.header,
.main,
.footer {
  float: left;
  max-width: 100%;
  width: 100%;
}

.header {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgba(245, 245, 245, .925);
  left: 0;
  padding: 0;
  // position: sticky;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

.main {
  min-height: calc(100vh - 86px);
  padding: 144px 0;
  .top {
    float: left;
    width: 100%;
  }
  .middle {
    float: left;
    width: 100%;
  }
  .bottom {
    float: left;
    width: 100%;
  }
}

.footer {
  padding: 0;
}

// Media Query 719px
// -------------------------------------------------------------
@media #{$mobile} {
  .main {
    min-height: calc(100vh - 86px);
    padding: 80px 0;
  }
  .footer {
    padding: 0;
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$m} {
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$l} {
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$xl} {
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$xxl} {
}
