{
  "plugins": ["prettier-plugin-antlers"],
  "overrides": [
    {
      "files": ["*.antlers.html"],
      "options": {
        "parser": "antlers"
      }
    }
  ],
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "semi": true,
  "trailingComma": "none",
  "printWidth": 6400,
  "proseWrap": "preserve",
  "antlersLanguageServer.formatterIgnoreExtensions": ["xml", "txt", "md", "markdown"]
}
