{{#
  @format false
  Partials :: Utilities :: Figure
#}}

<figure>
  <picture>
    {{ if source }}
      {{# Mobile #}}
      <source
        media="(max-width: 480px)"
        type="image/webp"
        srcset="
          {{ glide:source width="480" height="240" format="webp" quality="80" sharpen="1" fit="crop_focal" }}{{ url }} 1x{{ /glide:source }},
          {{ glide:source width="960" height="480" format="webp" quality="80" sharpen="1" fit="crop_focal" }}{{ url }} 2x{{ /glide:source }}
        "
        sizes="480px"
      />
      {{# Tablet #}}
      <source
        media="(min-width: 481px) and (max-width: 960px)"
        type="image/webp"
        srcset="
          {{ glide:source width="960" height="480" format="webp" quality="80" sharpen="1" fit="crop_focal" }}{{ url }} 1x{{ /glide:source }},
          {{ glide:source width="1920" height="960" format="webp" quality="80" sharpen="1" fit="crop_focal" }}{{ url }} 2x{{ /glide:source }}
        "
        sizes="960px"
      />
      {{# Desktop #}}
      <source
        media="(min-width: 961px)"
        type="image/webp"
        srcset="
          {{ glide:source width="1920" height="960" format="webp" quality="80" sharpen="1" fit="crop_focal" }}{{ url }} 1x{{ /glide:source }},
          {{ glide:source width="3840" height="1920" format="webp" quality="80" sharpen="1" fit="crop_focal" }}{{ url }} 2x{{ /glide:source }}
        "
        sizes="1920px"
      />
    {{ /if }}
    {{# Fallback #}}
    <img
      src="{{ glide:source width="480" height="240" format="jpg" }}{{ url }}{{ /glide:source }}"
      srcset="
        {{ glide:source width="480" height="240" format="jpg" }}{{ url }} 480w{{ /glide:source }},
        {{ glide:source width="960" height="480" format="jpg" }}{{ url }} 960w{{ /glide:source }},
        {{ glide:source width="1920" height="960" format="jpg" }}{{ url }} 1920w{{ /glide:source }}
      "
      sizes="
        (max-width: 480px) 480px,
        (min-width: 481px) and (max-width: 960px) 960px,
        (min-width: 961px) 1920px
      "
      alt="{{ alt }}"
      title="{{ title }}"
      loading="lazy"
    />
  </picture>
  {{ if caption }}
    <figcaption>{{ caption }}</figcaption>
  {{ /if }}
</figure>
