{{#
  @format false
  Partials :: Utilities :: Figure
#}}

<figure>
  <picture>
    {{# Mobile #}}
    {{ if source }}
      {{ asset url="{{source}}" }}
        <source
          media="(max-width: 480px)"
          srcset="
            {{ glide:url width="{{ width / 2 }}" format="webp" }}{{ url }} 1x{{ /glide:url }},
            {{ glide:url format="webp" }}{{ url }} 2x{{ /glide:url }}
          "
          sizes="480px"
        />
      {{ /asset }}
    {{ /if }}
    {{# Tablet #}}
    {{ if tablet_source }}
      {{ asset url="{{tablet_source}}" }}
        <source
          media="(min-width: 481px) and (max-width: 960px)"
          srcset="
            {{ glide:url width="{{ width / 2 }}" format="webp" }}{{ url }} 1x{{ /glide:url }},
            {{ glide:url format="webp" }}{{ url }} 2x{{ /glide:url }}
          "
          sizes="960px"
        />
      {{ /asset }}
    {{ /if }}
    {{# Desktop #}}
    {{ if desktop_source }}
      {{ asset url="{{desktop_source}}" }}
        <source
          media="(min-width: 961px)"
          srcset="
            {{ glide:url width="{{ width / 2 }}" format="webp" }}{{ url }} 1x{{ /glide:url }},
            {{ glide:url format="webp" }}{{ url }} 2x{{ /glide:url }}
          "
          sizes="1920px"
        />
      {{ /asset }}
    {{ /if }}
    {{# Fallback #}}
    {{ if source }}
      {{ asset url="{{source}}" }}
        <img
          src="{{ glide:source width="{{ width / 2 }}" format="webp" }}{{ url }}{{ /glide:source }}"
          alt="{{ alt }}"
          {{ if source }} title="{{ title }}" {{ /if }}
          width="{{ width }}"
          height="{{ height }}"
          loading="lazy"
          decoding="async"
        />
      {{ /asset }}
    {{ /if }}
  </picture>
  {{ if source }}
    {{ asset url="{{source}}" }}
      <figcaption>{{ caption }}</figcaption>
    {{ /asset }}
  {{ /if }}
</figure>
