{{#
  # Partials :: Core :: Favicons
#}}

<link rel="icon" type="image/png" sizes="16x16" href="{{ config:app:assets_cdn }}/favicons/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ config:app:assets_cdn }}/favicons/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="48x48" href="{{ config:app:assets_cdn }}/favicons/favicon-48x48.png" />
<link rel="icon" type="image/png" sizes="64x64" href="{{ config:app:assets_cdn }}/favicons/favicon-64x64.png" />
<link rel="icon" type="image/png" sizes="128x128" href="{{ config:app:assets_cdn }}/favicons/favicon-128x128.png" />
<link rel="icon" type="image/png" sizes="192x192" href="{{ config:app:assets_cdn }}/favicons/favicon-192x192.png" />
<link rel="icon" type="image/png" sizes="256x256" href="{{ config:app:assets_cdn }}/favicons/favicon-256x256.png" />
