{{#
  # Partials :: Core :: Head
#}}

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="format-detection" content="telephone=no, address=no, email=no" />
  {{ partial:core/robots }}
  {{ partial:core/base }}
  {{ partial:core/opengraph }}
  {{ partial:core/twitter }}
  {{ partial:core/favicons }}
  {{ partial:core/apple_touch_icons }}
  {{ partial:core/android_icons }}
  {{ partial:core/microsoft_tiles }}
  {{ partial:core/manifest }}
  {{ partial:core/misc }}
  {{ partial:core/scripts }}
</head>
