// Frontend Styles
// --------------------------------------------------------------------

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

img {
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 100%;
}
